.flex-container {
    display: flex;
    flex-direction: row
}

ul{
    margin: 0;
    padding: 0;
 }
 
 .flex-container li{
    display: inline-block;
    margin: 6px;
    list-style-type: none;
    width: 4px
 }
 
 .flex-container li a{
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    width: 4px
 }
 
 .flex-container li a:hover{
    color: white;
    width: 4px
 }